.search__container {
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 100%;
  margin-top: 50px;
}

form .form__group {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search__bar-top {
  display: flex;
  justify-self: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
}

.search__bar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.form__group span {
  font-size: 1.8rem;
  color: #fba518;
}

.form__group input {
  border: none;
  font-size: 0.9rem;
  color: var(--heading-color);
}

.form__group input:focus {
  outline: none;
  color: var(--heading-color);
}

.form__group h6 {
  margin-bottom: 0;
  font-weight: 600;
}

.form__group-fast {
  border-right: 2px solid #ddd;
}

.search__button {
  font-size: 1rem;
  padding: 0.5rem;
  background: var(--secondary-color);
  border-radius: 10px 5px 10px 5px;
  cursor: pointer;
  border: none;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form .form__group label {
  font-size: 0.9rem;
  color: var(--heading-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-label {
  color: var(--heading-color);
  cursor: pointer;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border: 1px solid #888; /* Updated to a lighter gray */
  cursor: pointer;
  accent-color: var(--secondary-color);
  margin: 0;
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: relative;
  opacity: 100;
}

.way-trip__input {
  height: 3.5rem;
}

.guest-dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.guest-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.guest-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.guest-controls button {
  background: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.guest-controls button:disabled {
  background: #ddd;
  cursor: not-allowed;
}

.flight-class-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--heading-color);
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.flight-class-select:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flight-class-select option {
  font-size: 0.9rem;
  color: var(--heading-color);
  background-color: #fff;
  padding: 0.5rem;
}

.dropdown-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--heading-color);
}

.dropdown-item:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

@media (max-width: 768px) {
  .search__container {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px 5px 10px 5px;
  }

  .search__bar {
    margin-top: 10px;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .element__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .element__search input {
    width: 100%;
    justify-self: end;
  }

  .form__group {
    width: 100%;
    justify-content: start;
  }

  .form__group div {
    min-height: 3.5rem;
  }

  .search__bar button {
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }

  .search__bar button i {
    font-size: 1.6rem;
    display: inline-block;
    width: fit-content !important;
    background: none !important;
    padding: 0 !important;
    background: none;
    border-radius: none;
  }

  .search__bar button span {
    white-space: normal;
    text-align: left;
  }
}
